{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
                <h1>Demande de réinitialisation de mot de passe</h1>
                {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                {{ form_end(passForm) }}
        </div>
    </div>
</div>
{% endblock %}
