{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}

    <div>
        <h1>Liste des familles</h1>
        <p>Voici la liste des familles actives à ce jour</p>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            {% if is_granted('ROLE_ADMIN') %}<th>Position comptable</th>{% endif %}
            <th>Détail</th>
        </tr>
        </thead>
        <tbody>
        {% for family in families %}
            <tr>
                <td>{{ family.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    {% if family.getAccountingPosition() >= 0 %}
                    <span class="text-success">{{ family.getAccountingPosition()|number_format(2) }} €</span>
                    {% else %}
                    <span class="text-danger">{{ family.getAccountingPosition()|number_format(2) }} €</span>
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    <a href="{{ path('family', { id: family.id }) }}" class="btn btn-primary btn-sm" >
                        <i class="fa-solid fa-magnifying-glass"></i> Afficher
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
