{% extends 'base.html.twig' %}
{% block title %}Scpa planning system{% endblock %}
{% block body %}
    <div class="container py-4">
        <h1>Bienvenue</h1>
        <p>Ce site est dédié à la gestion du planning des licenciés du Ski Club du Pays d'Aix</p>
    </div>
{% endblock %}
