{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="row mt-5 justify-content-center align-items-center">
    <div class="col-6 justify-content-center">
        <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas été trouvée. Vérifiez votre URL ou
        <a href="{{ path('homepage') }}">Retournez à la page d'accueil</a>.
    </p>
        <em>{{ exception.message }}</em>
    </div>
</div>
{% endblock %}
